/*Base*/

body{
    color: #434455;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    background-color: #FFF;

}

button {
    font-family: inherit;
}

.button {

    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
    border: none;
    margin: 0 auto;
    font-size: 16px;
   
}

img {
    background-color: #FFF;
}
a {
    text-decoration: none;
}

ul {
    list-style-type: none;    
}


.button:hover,
.button:focus {
background-color: #404BBF;
}

.menu-link:hover,
.menu-link:focus {
    color: #404BBF;
    background-color: #FFF;
}


h3 {
font-size: 20px;
font-weight: 500;
line-height: 1.2;
}

.sheet-team {
    background: #F4F4FD;
}



/*Header*/
.logo-dark {
color: #4d5ae5;
font-family: 'Raleway', sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em
text-transform: uppercase;
text-decoration: none;
}

.logo-light {
    color: #F4F4FD;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
}

.logo-accent {
    color: #2e2f42;
}

.menu-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em
    
}

.contact-link {
    color: #434455;
    font-style: normal;
}

.contact-link:hover,
.contact-link:focus 
 {   
    color: #404bbf;
    background-color: #FFF;
  }

  .header-address {
    letter-spacing: 0.02em
  }

/* hero-section*/
.hero-section {
    background-color: #2E2F42;  
}
.hero-title {
color: #FFFFFF;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
text-align: center;
margin: 0 auto;
}

.menu-team {
  
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    text-align: center;
}

.img-team {
    background: #FFF;
}
    
/* Portfolio*/

.menu-portfolio {
    text-transform: capitalize;
}


/*Footer*/

.footer {
    background-color: #2E2F42;
}
.text-footer {
    color: #F4F4FD;
}


